/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
   ========================================================================== */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* line 59, ../sass/normalize/_normalize-mixin.scss */
html {
  font-family: "Roboto Condensed", sans-serif;
  /* 1 */
  font-size: 81.25%;
  line-height: 1.84615em;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
/* line 83, ../sass/normalize/_normalize-mixin.scss */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
/* line 91, ../sass/normalize/_normalize-mixin.scss */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 105, ../sass/normalize/_normalize-mixin.scss */
h1 {
  font-size: 2em;
  line-height: 1.84615em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin: 0.92308em 0;
}

/* line 121, ../sass/normalize/_normalize-mixin.scss */
h2 {
  font-size: 1.5em;
  line-height: 1.23077em;
  margin: 1.23077em 0;
}

/* line 127, ../sass/normalize/_normalize-mixin.scss */
h3 {
  font-size: 1.17em;
  line-height: 1.57791em;
  margin: 1.57791em 0;
}

/* line 133, ../sass/normalize/_normalize-mixin.scss */
h4 {
  font-size: 1em;
  line-height: 1.84615em;
  margin: 1.84615em 0;
}

/* line 139, ../sass/normalize/_normalize-mixin.scss */
h5 {
  font-size: 0.83em;
  line-height: 2.22428em;
  margin: 2.22428em 0;
}

/* line 145, ../sass/normalize/_normalize-mixin.scss */
h6 {
  font-size: 0.67em;
  line-height: 2.75545em;
  margin: 2.75545em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 162, ../sass/normalize/_normalize-mixin.scss */
blockquote {
  margin: 1.84615em 40px;
}

/* line 166, ../sass/normalize/_normalize-mixin.scss */
dl,
ol,
ul {
  margin: 1.84615em 0;
}

/**
 * Turn off margins on nested lists.
 */
/* line 178, ../sass/normalize/_normalize-mixin.scss */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

/* line 184, ../sass/normalize/_normalize-mixin.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 188, ../sass/normalize/_normalize-mixin.scss */
ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Add the correct display in IE 9-.
 */
/* line 198, ../sass/normalize/_normalize-mixin.scss */
figcaption,
figure {
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
/* line 207, ../sass/normalize/_normalize-mixin.scss */
figure {
  margin: 1.84615em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 221, ../sass/normalize/_normalize-mixin.scss */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * Add the correct display in IE.
 */
/* line 231, ../sass/normalize/_normalize-mixin.scss */
main {
  display: block;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 240, ../sass/normalize/_normalize-mixin.scss */
p,
pre {
  margin: 1.84615em 0;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 251, ../sass/normalize/_normalize-mixin.scss */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
/* line 266, ../sass/normalize/_normalize-mixin.scss */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
/* line 276, ../sass/normalize/_normalize-mixin.scss */
a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 291, ../sass/normalize/_normalize-mixin.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
/* line 301, ../sass/normalize/_normalize-mixin.scss */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 310, ../sass/normalize/_normalize-mixin.scss */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 320, ../sass/normalize/_normalize-mixin.scss */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
/* line 331, ../sass/normalize/_normalize-mixin.scss */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
/* line 339, ../sass/normalize/_normalize-mixin.scss */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
/* line 348, ../sass/normalize/_normalize-mixin.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 357, ../sass/normalize/_normalize-mixin.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 365, ../sass/normalize/_normalize-mixin.scss */
sub {
  bottom: -0.25em;
}

/* line 369, ../sass/normalize/_normalize-mixin.scss */
sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 382, ../sass/normalize/_normalize-mixin.scss */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
/* line 391, ../sass/normalize/_normalize-mixin.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
/* line 400, ../sass/normalize/_normalize-mixin.scss */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
/* line 408, ../sass/normalize/_normalize-mixin.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 422, ../sass/normalize/_normalize-mixin.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: "Roboto Condensed", sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.84615em;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 */
/* line 442, ../sass/normalize/_normalize-mixin.scss */
button {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 451, ../sass/normalize/_normalize-mixin.scss */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
/* line 462, ../sass/normalize/_normalize-mixin.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/* line 478, ../sass/normalize/_normalize-mixin.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/* line 487, ../sass/normalize/_normalize-mixin.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Show the overflow in Edge.
 */
/* line 496, ../sass/normalize/_normalize-mixin.scss */
input {
  overflow: visible;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
/* line 505, ../sass/normalize/_normalize-mixin.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 515, ../sass/normalize/_normalize-mixin.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 525, ../sass/normalize/_normalize-mixin.scss */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/* line 533, ../sass/normalize/_normalize-mixin.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 544, ../sass/normalize/_normalize-mixin.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
/* line 553, ../sass/normalize/_normalize-mixin.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 566, ../sass/normalize/_normalize-mixin.scss */
legend {
  box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 580, ../sass/normalize/_normalize-mixin.scss */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
/* line 589, ../sass/normalize/_normalize-mixin.scss */
textarea {
  overflow: auto;
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE, and Firefox.
 */
/* line 602, ../sass/normalize/_normalize-mixin.scss */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
/* line 610, ../sass/normalize/_normalize-mixin.scss */
summary {
  display: list-item;
}

/*
 * Add the correct display in IE 9-.
 */
/* line 618, ../sass/normalize/_normalize-mixin.scss */
menu {
  display: block;
  /*
   * 1. Set 1 unit of vertical rhythm on the top and bottom margin.
   * 2. Set consistent space for the list style image.
   */
  margin: 1.84615em 0;
  /* 1 */
  padding: 0 0 0 40px;
  /* 2 */
}
/* line 634, ../sass/normalize/_normalize-mixin.scss */
menu menu,
ol menu,
ul menu {
  margin: 0;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 651, ../sass/normalize/_normalize-mixin.scss */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
/* line 659, ../sass/normalize/_normalize-mixin.scss */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
/* line 672, ../sass/normalize/_normalize-mixin.scss */
[hidden] {
  display: none;
}

/* line 1, ../sass/layouts/_responsive.scss */
.main-content {
  max-width: 1360px;
  margin: 20px auto;
  min-height: 550px;
}

/* line 7, ../sass/layouts/_responsive.scss */
.banner {
  background-position: center center;
  background-size: cover;
  height: 80vh;
  position: relative;
}
/* line 12, ../sass/layouts/_responsive.scss */
.banner img {
  display: none;
}
/* line 16, ../sass/layouts/_responsive.scss */
.banner .views-row .banner-desc {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  left: 0;
}
/* line 23, ../sass/layouts/_responsive.scss */
.banner .views-row h1 {
  color: #000;
  font-size: 3.8em;
  position: relative;
  z-index: 9;
  line-height: normal;
  font-weight: 700;
  background: #fff;
  -moz-box-shadow: 10px 0 0 #fff, -10px 0 0 #fff;
  -webkit-box-shadow: 10px 0 0 #fff, -10px 0 0 #fff;
  box-shadow: 10px 0 0 #fff, -10px 0 0 #fff;
  display: inline;
}
/* line 35, ../sass/layouts/_responsive.scss */
.banner:after {
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: 8;
}
/* line 47, ../sass/layouts/_responsive.scss */
.banner .banner-text {
  max-width: 740px;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (max-width: 1023px) {
  /* line 55, ../sass/layouts/_responsive.scss */
  .banner {
    margin-top: 105px;
    height: 50vh;
  }
}
/**
 * Generic Components
*/
/* line 7, ../sass/components/_base.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../sass/components/_base.scss */
body {
  color: #626262;
  background: #f5f5f5;
  font-family: "Roboto Condensed", sans-serif;
}

/* line 15, ../sass/components/_base.scss */
a {
  color: #000000;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s !important;
  text-decoration: none;
  outline: 0;
}

/* line 21, ../sass/components/_base.scss */
a:focus,
a:hover,
a:active {
  color: #ed1c24;
}

/* line 25, ../sass/components/_base.scss */
img {
  width: auto;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* line 31, ../sass/components/_base.scss */
h1 {
  margin-top: 0;
}

/* line 34, ../sass/components/_base.scss */
ol,
ul {
  padding-left: 15px;
}

/* line 37, ../sass/components/_base.scss */
dt {
  font-weight: 600;
  margin: 10px 0 0;
}
/* line 40, ../sass/components/_base.scss */
dt:first-child {
  margin-top: 0;
}

/* line 44, ../sass/components/_base.scss */
dd {
  margin-left: 0;
}

/* line 47, ../sass/components/_base.scss */
.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1920px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

/* line 55, ../sass/components/_base.scss */
.container-layout-1 {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1480px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

/**
 * Breadcrumb
*/
/* line 67, ../sass/components/_base.scss */
.breadcrumb {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.846em;
}
/* line 71, ../sass/components/_base.scss */
.breadcrumb ol {
  list-style-type: none;
  margin: 0;
  padding: 15px 0 10px;
}
/* line 75, ../sass/components/_base.scss */
.breadcrumb ol li {
  display: inline;
  padding: 0 5px 0 0;
}
/* line 78, ../sass/components/_base.scss */
.breadcrumb ol li::before {
  display: none;
}
/* line 82, ../sass/components/_base.scss */
.breadcrumb ol li a:before {
  content: '\f101';
  display: inline-block;
  font: normal normal normal 12px/1 FontAwesome;
  position: relative;
  right: 3px;
}
/* line 91, ../sass/components/_base.scss */
.breadcrumb ol li:first-child a:before {
  display: none;
}

/**
 Tabs
*/
/* line 103, ../sass/components/_base.scss */
.tabs {
  margin: 0 0 15px;
}
/* line 105, ../sass/components/_base.scss */
.tabs ul {
  border-bottom: 1px solid #ccc;
  white-space: normal;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 111, ../sass/components/_base.scss */
.tabs ul li {
  padding: 0;
  border: 0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 115, ../sass/components/_base.scss */
.tabs ul li a {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  background: none;
  border: 0;
  padding: 15px 20px;
  margin: 0;
  text-transform: uppercase;
  color: #000;
  position: relative;
}
/* line 124, ../sass/components/_base.scss */
.tabs ul li a:before {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  height: 0;
  background: #424a5d;
  width: 100%;
  left: 0;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
/* line 137, ../sass/components/_base.scss */
.tabs ul li a.is-active:before,
.tabs ul li a a:hover:before {
  height: 3px;
  color: #626262;
}
/* line 144, ../sass/components/_base.scss */
.tabs ul {
  margin: 10px 0 0;
}
/* line 146, ../sass/components/_base.scss */
.tabs ul li a {
  padding: 8px 20px;
  font-size: 1rem;
}

/**
 * site logo
*/
/* line 158, ../sass/components/_base.scss */
.site-logo {
  padding: 12px 0;
}
/* line 160, ../sass/components/_base.scss */
.site-logo .site-branding__logo,
.site-logo .site-branding__text {
  display: inline-block;
  vertical-align: middle;
}
/* line 164, ../sass/components/_base.scss */
.site-logo .site-branding__name a {
  font-size: 1.4em;
  font-family: "Open Sans", sans-serif;
  padding-left: 10px;
}

/**
 * Pager
*/
/* line 175, ../sass/components/_base.scss */
.pager {
  margin: 0 0 20px;
  padding: 0;
  text-align: center;
  list-style: none outside none;
  text-transform: uppercase;
}
/* line 181, ../sass/components/_base.scss */
.pager li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

/**
 * Action Links
*/
/* line 190, ../sass/components/_base.scss */
.action-links {
  margin: 0;
  padding: 12px 0;
  list-style: none outside none;
}
/* line 194, ../sass/components/_base.scss */
.action-links li {
  display: inline;
  margin: 0 3px 0 0;
}

/* line 200, ../sass/components/_base.scss */
.action-links a,
.compact-link a {
  background: #000000;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  padding: 0 10px;
  display: inline-block;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  height: 32px;
  line-height: 32px;
}

/* line 213, ../sass/components/_base.scss */
.title-wrapper h1.title {
  float: left;
  margin-bottom: 10px;
}
/* line 217, ../sass/components/_base.scss */
.title-wrapper .action-links {
  float: left;
  padding-left: 20px;
}

/* line 222, ../sass/components/_base.scss */
.ctools-button {
  background: #fff;
}
/* line 224, ../sass/components/_base.scss */
.ctools-button ul {
  margin: 0;
  padding: 0;
}

/* line 229, ../sass/components/_base.scss */
ul.links {
  padding-left: 0;
}
/* line 231, ../sass/components/_base.scss */
ul.links li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  list-style: none outside none;
}

/**
 * Blocks
*/
/* line 241, ../sass/components/_base.scss */
.block > h2,
.block .block-title {
  margin-top: 0;
}

/**
 * dropbutton toggle
*/
/* line 248, ../sass/components/_base.scss */
.dropbutton-toggle button:hover,
.dropbutton-toggle button:focus {
  background: transparent;
}

/* line 251, ../sass/components/_base.scss */
.dropbutton-toggle button {
  color: #888;
}

/**
 * edit summary links
*/
/* line 259, ../sass/components/_base.scss */
.link-edit-summary {
  background: transparent;
  min-width: auto;
  color: #000000;
  border: none;
  font-size: 11px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  height: auto;
}
/* line 270, ../sass/components/_base.scss */
.link-edit-summary:hover {
  background: transparent;
  color: #ed1c24;
}

/**
 * contextual links
*/
/* line 281, ../sass/components/_base.scss */
.contextual .trigger {
  min-width: auto;
  border-radius: 5px;
}
/* line 285, ../sass/components/_base.scss */
.contextual.open .trigger {
  border-radius: 5px 5px 0 0;
}

/**
 * actions block
*/
/* line 295, ../sass/components/_base.scss */
.block-local-actions-block nav {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

/**
 * messages
*/
/* line 305, ../sass/components/_base.scss */
.messages__wrapper {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  margin: 0 0 20px;
  padding: 0 0 5px 8px;
}

/* line 311, ../sass/components/_base.scss */
.messages {
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 15px 20px 15px 35px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* line 318, ../sass/components/_base.scss */
.messages--error,
.messages--status,
.messages--warning {
  background: #fcf4f2;
  color: #a51b00;
  box-shadow: -8px 0 0 #e62600;
  border-color: #f9c9bf;
  position: relative;
  margin: 0 8px 20px;
}
/* line 325, ../sass/components/_base.scss */
.messages--error:before,
.messages--status:before,
.messages--warning:before {
  content: '\f057';
  display: inline-block;
  font: normal normal normal 20px/1 FontAwesome;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -10px;
}

/* line 335, ../sass/components/_base.scss */
.messages--status {
  color: #325e1c;
  background: #f3faef;
  border-color: #c9e1bd;
  box-shadow: -8px 0 0 #77b259;
}
/* line 340, ../sass/components/_base.scss */
.messages--status:before {
  content: '\f00c';
}

/* line 344, ../sass/components/_base.scss */
.messages--warning {
  background-color: #fdf8ed;
  border-color: #f4daa6;
  color: #734c00;
  box-shadow: -8px 0 0 #e09600;
}
/* line 349, ../sass/components/_base.scss */
.messages--warning:before {
  content: '\f071';
}

/**
* Pager
**/
/* line 357, ../sass/components/_base.scss */
.pager {
  margin: 0;
}
/* line 359, ../sass/components/_base.scss */
.pager .pager__items {
  margin: 0;
  padding: 0;
}
/* line 362, ../sass/components/_base.scss */
.pager .pager__items li {
  padding: 0;
}
/* line 364, ../sass/components/_base.scss */
.pager .pager__items li a {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  font-size: 0.850em;
  font-weight: 600;
}

/**
* generic Style
**/
/* line 377, ../sass/components/_base.scss */
.field--name-body ul,
.field--name-body ol {
  padding-left: 50px;
}
/* line 379, ../sass/components/_base.scss */
.field--name-body ul li,
.field--name-body ol li {
  color: #000;
  font-size: 1.250em;
  margin: 15px 0;
}

/**
* blockquote
**/
/* line 390, ../sass/components/_base.scss */
blockquote {
  margin: 0 80px;
  padding: 0;
  border: none;
  position: relative;
  font-size: 1.8em;
  font-weight: 600;
}
/* line 397, ../sass/components/_base.scss */
blockquote p {
  line-height: 40px !important;
}
/* line 400, ../sass/components/_base.scss */
blockquote:before {
  content: '\f10d';
  display: inline-block;
  font: normal normal normal 32px/1 FontAwesome;
  display: block;
  position: absolute;
  left: -50px;
  color: #000;
}

@media only screen and (min-width: 64em) {
  /* line 413, ../sass/components/_base.scss */
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* line 1, ../sass/components/_table.scss */
.table-wrapper {
  width: 100%;
  overflow: auto;
}

/* line 5, ../sass/components/_table.scss */
table {
  width: 100%;
  margin: 5px 0 20px;
  border-collapse: collapse;
  border: 1px solid #ccc;
}
/* line 10, ../sass/components/_table.scss */
table thead tr th {
  background: #fff;
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  padding: 10px 8px;
  color: #000;
  text-align: left;
}
/* line 19, ../sass/components/_table.scss */
table thead tr th a {
  color: #000;
}
/* line 22, ../sass/components/_table.scss */
table thead tr th.active a,
table thead tr th a:active {
  color: #2c2c2c;
}
/* line 25, ../sass/components/_table.scss */
table thead tr th img {
  margin-left: 10px;
}
/* line 30, ../sass/components/_table.scss */
table tbody tr td {
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  padding: 12px 8px;
  background: #fff;
}
/* line 35, ../sass/components/_table.scss */
table tbody tr td .form-item {
  margin-bottom: 10px;
}
/* line 38, ../sass/components/_table.scss */
table tbody tr td ul {
  margin: 0;
  list-style-type: none;
}
/* line 43, ../sass/components/_table.scss */
table tbody tr.odd td {
  background: #f0f0f0;
}
/* line 46, ../sass/components/_table.scss */
table tbody tr:hover td {
  background: #daeffd;
}

/* line 51, ../sass/components/_table.scss */
table.sticky-header {
  z-index: 2;
}

/* line 54, ../sass/components/_table.scss */
a.tabledrag-handle .handle {
  height: 20px;
  width: 20px;
  background-position: 0 5px;
}

/* line 59, ../sass/components/_table.scss */
a.tabledrag-handle-hover .handle {
  background-position: 0 -15px;
}

/* line 62, ../sass/components/_table.scss */
.tabledrag-toggle-weight-wrapper {
  float: right;
  font-size: 11px;
  margin-bottom: -30px;
  height: 20px;
  padding: 5px;
}
/* line 68, ../sass/components/_table.scss */
.tabledrag-toggle-weight-wrapper a {
  display: block;
  height: 16px;
  width: 16px;
  padding: 2px;
  color: transparent;
  background: #ccc;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  position: relative;
}
/* line 77, ../sass/components/_table.scss */
.tabledrag-toggle-weight-wrapper a:before {
  content: '\f047';
  font: normal normal normal 14px/12px FontAwesome;
  color: #fff;
  font-size: 12px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: top;
  position: absolute;
  left: 2px;
  top: 2px;
}

/* line 92, ../sass/components/_table.scss */
.draggable a.tabledrag-handle {
  margin: 5px -.5em 0 0;
}

/* line 95, ../sass/components/_table.scss */
.field-ui-overview .field-plugin-settings-edit {
  min-width: auto;
  background: transparent;
}
/* line 98, ../sass/components/_table.scss */
.field-ui-overview .field-plugin-settings-edit:hover {
  background: transparent;
  border: none;
}

/* line 1, ../sass/components/_check-radio.scss */
.js-form-type-checkbox,
.js-form-type-radio {
  position: relative;
}
/* line 3, ../sass/components/_check-radio.scss */
.js-form-type-checkbox input + label,
.js-form-type-radio input + label {
  display: inline-block;
  position: relative;
  padding-left: 25px;
}
/* line 7, ../sass/components/_check-radio.scss */
.js-form-type-checkbox input + label:before,
.js-form-type-radio input + label:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 1px;
  top: 0px;
  border: 1px solid #ccc;
  background-color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -moz-transition-property: border;
  -o-transition-property: border;
  -webkit-transition-property: border;
  transition-property: border;
}
/* line 21, ../sass/components/_check-radio.scss */
.js-form-type-checkbox input + label:after,
.js-form-type-radio input + label:after {
  display: inline-block;
  position: absolute;
}
/* line 26, ../sass/components/_check-radio.scss */
.js-form-type-checkbox > input[type="checkbox"]:checked + label:before,
.js-form-type-checkbox > input[type="radio"]:checked + label:before,
.js-form-type-radio > input[type="checkbox"]:checked + label:before,
.js-form-type-radio > input[type="radio"]:checked + label:before {
  background-color: #000000;
  border-color: #000000;
}

/* line 33, ../sass/components/_check-radio.scss */
.js-form-type-checkbox input + label:after {
  width: 16px;
  height: 16px;
  left: 1px;
  top: 0;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #fff;
}
/* line 44, ../sass/components/_check-radio.scss */
.js-form-type-checkbox > input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  z-index: -999;
}
/* line 48, ../sass/components/_check-radio.scss */
.js-form-type-checkbox > input[type="checkbox"]:checked + label:after {
  font-family: 'FontAwesome';
  content: "\f00c";
}
/* line 52, ../sass/components/_check-radio.scss */
.js-form-type-checkbox > input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}
/* line 54, ../sass/components/_check-radio.scss */
.js-form-type-checkbox > input[type="checkbox"]:disabled + label:before {
  cursor: not-allowed;
}

/* line 62, ../sass/components/_check-radio.scss */
.js-form-type-radio input + label:before {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 65, ../sass/components/_check-radio.scss */
.js-form-type-radio input + label:after {
  content: " ";
  width: 11px;
  height: 11px;
  left: 4px;
  top: 6px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  transform: scale(0, 0);
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -moz-transition-timing-function: cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition-timing-function: cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -webkit-transition-timing-function: cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition-timing-function: cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
/* line 79, ../sass/components/_check-radio.scss */
.js-form-type-radio > input[type="radio"] {
  opacity: 0;
  position: absolute;
  z-index: -999;
}
/* line 83, ../sass/components/_check-radio.scss */
.js-form-type-radio > input[type="radio"]:checked + label:after {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -moz-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  -webkit-transform: translateY(-25%);
  transform: translateY(-25%);
}
/* line 87, ../sass/components/_check-radio.scss */
.js-form-type-radio > input[type="radio"]:disabled + label {
  opacity: 0.65;
}
/* line 89, ../sass/components/_check-radio.scss */
.js-form-type-radio > input[type="radio"]:disabled + label:before {
  cursor: not-allowed;
}

/* line 95, ../sass/components/_check-radio.scss */
.js-form-type-checkbox > input[type="checkbox"]:last-child,
.js-form-type-radio > input[type="radio"]:last-child,
.js-form-type-checkbox label + input[type="checkbox"],
.js-form-type-radio label + input[type="radio"] {
  opacity: 1;
  position: static;
}

/**
 * Form Fields
*/
/* line 4, ../sass/components/_forms.scss */
input[type="text"],
input.form-text,
select,
textarea,
input[type="email"] {
  border: 1px solid #ccc;
  background: #fff;
  color: #2c2c2c;
  height: 35px;
  padding: 6px 12px;
  font-size: 100%;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  max-width: 100%;
  vertical-align: middle;
}
/* line 14, ../sass/components/_forms.scss */
input[type="text"]:focus,
input.form-text:focus,
select:focus,
textarea:focus,
input[type="email"]:focus {
  border-color: rgba(0, 0, 0, 0.1);
  outline: 0 !important;
  background: #f0f0f0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 21, ../sass/components/_forms.scss */
textarea,
select[multiple="multiple"] {
  height: auto;
  padding: 5px;
}

/* line 25, ../sass/components/_forms.scss */
button,
.form-submit,
.button,
input[type="button"] {
  background: #000000;
  border: 1px solid #000000;
  -moz-transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s !important 0s;
  -o-transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s !important 0s;
  -webkit-transition: color 0.1s linear, background-color 0.1s linear, opacity 0.2s !important;
  -webkit-transition-delay: 0s, 0s, 0s;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s !important 0s;
  color: #f5f5f5;
  min-width: 120px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding: 6px 12px;
  white-space: nowrap;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  height: 35px;
  line-height: 20px;
  text-align: center;
}
/* line 41, ../sass/components/_forms.scss */
button:hover,
.form-submit:hover,
.button:hover,
input[type="button"]:hover {
  background: #ed1c24;
  border-color: #ed1c24;
}

/* line 46, ../sass/components/_forms.scss */
a.button {
  color: #f5f5f5;
}

/* line 49, ../sass/components/_forms.scss */
details {
  border: 1px solid #ccc;
  background: #fff;
  margin: 0 0 20px;
  padding: 35px 5px 20px;
  position: relative;
}
/* line 55, ../sass/components/_forms.scss */
details summary {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 1;
  cursor: pointer;
}
/* line 65, ../sass/components/_forms.scss */
details .form-item {
  padding: 0;
  margin: 0;
}

/* line 70, ../sass/components/_forms.scss */
.form-item {
  margin: 0 0 20px;
  position: relative;
}
/* line 73, ../sass/components/_forms.scss */
.form-item .description {
  position: absolute;
  width: 260px;
  padding: 10px;
  border: 1px solid #dee0f9;
  background: #dee0f9;
  color: #000;
  right: 0px;
  bottom: 100%;
  display: none;
  margin-bottom: -10px;
  z-index: 3;
}
/* line 85, ../sass/components/_forms.scss */
.form-item .description:after {
  content: '';
  display: block;
  height: 0;
  width: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #dee0f9;
  position: absolute;
  top: 100%;
  left: 20px;
}
/* line 98, ../sass/components/_forms.scss */
.form-item:hover > .description {
  display: block;
}

/* line 102, ../sass/components/_forms.scss */
.container-inline-date .form-item .description {
  width: 150px;
}

/* line 105, ../sass/components/_forms.scss */
.description {
  font-size: 0.846em;
  line-height: 1.5;
  margin-top: 5px;
}

/* line 110, ../sass/components/_forms.scss */
.form-item label.option {
  text-transform: none;
  font-weight: 400;
}

/* line 114, ../sass/components/_forms.scss */
.form-type-radios .form-type-radio,
.form-type-checkboxes .form-type-checkbox {
  margin-bottom: 8px;
}

/* line 117, ../sass/components/_forms.scss */
input.fluid {
  width: 100%;
}

/* line 120, ../sass/components/_forms.scss */
html.js fieldset.collapsed {
  border-width: 1px;
}

/* line 123, ../sass/components/_forms.scss */
.tips {
  padding-left: 15px;
}

/* line 126, ../sass/components/_forms.scss */
.filter-guidelines-item > h3:first-child {
  margin-bottom: 5px;
}

/* line 129, ../sass/components/_forms.scss */
.form-item label {
  font-size: 11px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 10px 3px 0;
  display: block;
}

/**
 * Date Field
*/
/* line 142, ../sass/components/_forms.scss */
.container-inline-date {
  display: inline;
}
/* line 144, ../sass/components/_forms.scss */
.container-inline-date .date-padding {
  float: none;
  display: inline-block;
  padding: 0;
}
/* line 148, ../sass/components/_forms.scss */
.container-inline-date .date-padding label {
  display: block;
}
/* line 152, ../sass/components/_forms.scss */
.container-inline-date .form-item .form-item {
  float: none;
  display: inline-block;
  vertical-align: middle;
}

/**
 * Date picker
*/
/* line 163, ../sass/components/_forms.scss */
#ui-datepicker-div {
  padding: 16px 25px;
  -moz-box-shadow: 0px 0px 5px rgba(98, 98, 98, 0.2);
  -webkit-box-shadow: 0px 0px 5px rgba(98, 98, 98, 0.2);
  box-shadow: 0px 0px 5px rgba(98, 98, 98, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: #fff;
  min-width: 200px;
  width: auto;
}

/* line 172, ../sass/components/_forms.scss */
.ui-datepicker .ui-datepicker-header {
  background: none;
  border: 0;
  margin: 0 0 10px;
}
/* line 177, ../sass/components/_forms.scss */
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  left: 0;
  top: 3px;
  background: none;
  border: 0;
  cursor: pointer;
  width: 20px;
  height: 28px;
}
/* line 185, ../sass/components/_forms.scss */
.ui-datepicker .ui-datepicker-prev:before,
.ui-datepicker .ui-datepicker-next:before {
  content: '\f104';
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  vertical-align: top;
  color: #000000;
  height: 16px;
  margin: 5px 6px;
}
/* line 198, ../sass/components/_forms.scss */
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: none;
}
/* line 202, ../sass/components/_forms.scss */
.ui-datepicker .ui-datepicker-next {
  left: auto;
  right: 0;
}
/* line 205, ../sass/components/_forms.scss */
.ui-datepicker .ui-datepicker-next:before {
  content: '\f105';
}
/* line 209, ../sass/components/_forms.scss */
.ui-datepicker .ui-datepicker-title {
  margin: 0 25px;
}
/* line 211, ../sass/components/_forms.scss */
.ui-datepicker .ui-datepicker-title select {
  padding: 4px;
  height: auto;
  min-height: 0;
  margin: 0;
}
/* line 218, ../sass/components/_forms.scss */
.ui-datepicker .ui-datepicker-calendar {
  border: 0;
}
/* line 220, ../sass/components/_forms.scss */
.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
  border: 0;
  font-size: 11px;
  padding: 0;
  background: none;
}
/* line 226, ../sass/components/_forms.scss */
.ui-datepicker .ui-datepicker-calendar th {
  color: #000000;
}
/* line 229, ../sass/components/_forms.scss */
.ui-datepicker .ui-datepicker-calendar .ui-state-default {
  border: 0;
  background: none;
  padding: 0;
  width: 26px;
  margin: 1px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
}
/* line 237, ../sass/components/_forms.scss */
.ui-datepicker .ui-datepicker-calendar .ui-state-default:hover {
  background: #ccc;
}

/**
 * Dependent dropdown
*/
/* line 247, ../sass/components/_forms.scss */
.dependent-options {
  overflow: visible !important;
}

/* line 251, ../sass/components/_forms.scss */
.js input.form-autocomplete.ui-autocomplete-loading {
  background-repeat: no-repeat;
}
/* line 256, ../sass/components/_forms.scss */
.js .dropbutton-wrapper.open .dropbutton-widget {
  background: #f5f5f5;
  padding: 5px 25px 5px 15px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 260, ../sass/components/_forms.scss */
.js .dropbutton-wrapper.open .dropbutton-widget a {
  font-size: 1em;
}
/* line 263, ../sass/components/_forms.scss */
.js .dropbutton-wrapper.open .dropbutton-widget input {
  color: #000000;
}
/* line 269, ../sass/components/_forms.scss */
.js .dropbutton-toggle button {
  color: #000000;
}

/* line 1, ../sass/components/_header.scss */
#header {
  width: 100%;
  z-index: 10;
  background: #fff;
  line-height: 64px;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 11, ../sass/components/_header.scss */
#header:after {
  bottom: -5px;
  box-shadow: inset 0px 4px 8px -3px rgba(17, 17, 17, 0.06);
  content: "";
  height: 5px;
  left: 0px;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  right: 0px;
  width: 100%;
  z-index: 10;
}

/* line 25, ../sass/components/_header.scss */
.mob-icon {
  width: 25px;
  text-align: right;
}
/* line 28, ../sass/components/_header.scss */
.mob-icon .fa-bars {
  cursor: pointer;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 1.250em;
}

/* line 35, ../sass/components/_header.scss */
.search-area {
  text-align: right;
}
/* line 37, ../sass/components/_header.scss */
.search-area .fa-search {
  cursor: pointer;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  font-size: 1.250em;
}
/* line 42, ../sass/components/_header.scss */
.search-area .fa-search:hover {
  color: #ed1c24;
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

/* line 49, ../sass/components/_header.scss */
.header-top-container {
  padding: 3px 0;
  background: #424a5d;
  line-height: 32px;
}
/* line 53, ../sass/components/_header.scss */
.header-top-container .social-links-icon {
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 34px;
}
/* line 58, ../sass/components/_header.scss */
.header-top-container .social-links-icon li {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  padding-right: 10px;
}
/* line 61, ../sass/components/_header.scss */
.header-top-container .social-links-icon li a {
  color: #fff;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 64, ../sass/components/_header.scss */
.header-top-container .social-links-icon li a .fa {
  font-size: 1.1em;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
/* line 69, ../sass/components/_header.scss */
.header-top-container .social-links-icon li a:hover {
  color: #fb8258;
}
/* line 71, ../sass/components/_header.scss */
.header-top-container .social-links-icon li a:hover .fa {
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

/* line 82, ../sass/components/_header.scss */
.usr-log-info span {
  color: #fff;
  font-size: 1.1em;
  font-weight: 700;
  cursor: pointer;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 88, ../sass/components/_header.scss */
.usr-log-info span:hover {
  color: #fb8258;
}
/* line 92, ../sass/components/_header.scss */
.usr-log-info ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* line 96, ../sass/components/_header.scss */
.usr-log-info ul li {
  padding: 0;
}
/* line 98, ../sass/components/_header.scss */
.usr-log-info ul li a {
  color: #fff;
  font-weight: 700;
  font-size: 1.1em;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
}
/* line 104, ../sass/components/_header.scss */
.usr-log-info ul li a.is-active {
  color: #fff;
}
/* line 107, ../sass/components/_header.scss */
.usr-log-info ul li a:hover {
  color: #fb8258;
}

/* line 115, ../sass/components/_header.scss */
.user-logged-in .usr-log-info {
  position: relative;
}
/* line 117, ../sass/components/_header.scss */
.user-logged-in .usr-log-info ul {
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 36px;
  right: 0;
  width: 220px;
  background: #fff;
  z-index: 12;
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.52);
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.52);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 129, ../sass/components/_header.scss */
.user-logged-in .usr-log-info ul li {
  padding: 10px 0;
  border-bottom: 1px dotted #eee;
}
/* line 132, ../sass/components/_header.scss */
.user-logged-in .usr-log-info ul li a {
  font-weight: 500;
  color: #000;
  padding: 0 15px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
}
/* line 138, ../sass/components/_header.scss */
.user-logged-in .usr-log-info ul li a:hover {
  color: #fb8258;
}
/* line 142, ../sass/components/_header.scss */
.user-logged-in .usr-log-info ul li:last-child {
  border-bottom: none;
}
/* line 146, ../sass/components/_header.scss */
.user-logged-in .usr-log-info ul:before {
  content: '';
  position: absolute;
  right: 20px;
  top: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  clear: both;
  opacity: 0;
}
/* line 163, ../sass/components/_header.scss */
.user-logged-in.is-myaccount-active .usr-log-info ul {
  max-height: none;
  visibility: visible;
  opacity: 1;
}
/* line 167, ../sass/components/_header.scss */
.user-logged-in.is-myaccount-active .usr-log-info ul:before {
  opacity: 1;
}

@media only screen and (max-width: 1023px) {
  /* line 177, ../sass/components/_header.scss */
  .header-top-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 12;
  }

  /* line 183, ../sass/components/_header.scss */
  .container-wrap {
    display: grid;
    float: left;
    grid-template-columns: 70px auto 70px;
    width: 100%;
  }

  /* line 189, ../sass/components/_header.scss */
  .header-logo {
    text-align: center;
  }
  /* line 191, ../sass/components/_header.scss */
  .header-logo .logo {
    width: 220px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 64em) {
  /* line 200, ../sass/components/_header.scss */
  #header {
    position: relative;
    top: auto;
  }

  /* line 204, ../sass/components/_header.scss */
  .header-left {
    width: 18%;
    float: left;
  }

  /* line 208, ../sass/components/_header.scss */
  .header-right {
    width: 82%;
    float: right;
  }

  /* line 212, ../sass/components/_header.scss */
  .search-area {
    width: 25px;
    float: right;
  }

  /* line 216, ../sass/components/_header.scss */
  .main-navigation {
    width: 95%;
    float: left;
  }
  /* line 219, ../sass/components/_header.scss */
  .main-navigation .fa-bars {
    display: none;
  }

  /* line 223, ../sass/components/_header.scss */
  .mob-icon {
    display: none;
  }
}
/* line 1, ../sass/components/_footer.scss */
.footer {
  background: #21252d;
  padding: 18px 0;
}
/* line 4, ../sass/components/_footer.scss */
.footer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* line 11, ../sass/components/_footer.scss */
.footer-bottom {
  background: #424a5d;
  background: #424a5d;
  padding: 5px 0;
  color: #fff;
}
/* line 16, ../sass/components/_footer.scss */
.footer-bottom a {
  color: #fff;
}
/* line 18, ../sass/components/_footer.scss */
.footer-bottom a:hover {
  color: #fb8258;
}
/* line 22, ../sass/components/_footer.scss */
.footer-bottom .logo {
  width: 240px;
  height: auto;
  padding: 10px 0 0;
}
/* line 26, ../sass/components/_footer.scss */
.footer-bottom .logo img {
  filter: brightness(0) invert(1);
}
/* line 30, ../sass/components/_footer.scss */
.footer-bottom .first {
  text-align: center;
}
/* line 33, ../sass/components/_footer.scss */
.footer-bottom .second {
  text-align: center;
  padding: 5px 0;
}

@media only screen and (min-width: 768px) {
  /* line 41, ../sass/components/_footer.scss */
  .footer-bottom .first {
    text-align: left;
  }
  /* line 44, ../sass/components/_footer.scss */
  .footer-bottom .second {
    padding: 15px 0;
    text-align: right;
  }
}
/* line 1, ../sass/components/_search.scss */
.region-search-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  z-index: 12;
  visibility: hidden;
  -moz-transform: translateY(-500px);
  -ms-transform: translateY(-500px);
  -webkit-transform: translateY(-500px);
  transform: translateY(-500px);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 13, ../sass/components/_search.scss */
.region-search-area .search-block-form {
  margin: 0 2%;
  position: relative;
}
/* line 16, ../sass/components/_search.scss */
.region-search-area .search-block-form #search-block-form {
  margin: 100px 0 0;
}
/* line 20, ../sass/components/_search.scss */
.region-search-area .search-icon {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: -50px;
}
/* line 25, ../sass/components/_search.scss */
.region-search-area .search-icon .fa-times {
  font-size: 1.250em;
  color: #fff;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* line 30, ../sass/components/_search.scss */
.region-search-area .search-icon .fa-times:hover {
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  color: #ed1c24;
}
/* line 37, ../sass/components/_search.scss */
.region-search-area .content {
  padding: 50px 20px;
}
/* line 40, ../sass/components/_search.scss */
.region-search-area .form-actions,
.region-search-area label {
  display: none;
}
/* line 43, ../sass/components/_search.scss */
.region-search-area input.form-search {
  background: none;
  height: auto;
  padding: 0;
  color: #fff;
  border: 0;
  border-bottom: 1px solid #ccc;
  padding: 8px 0;
  font-size: 1.5em;
  line-height: 28px;
  width: 100%;
  outline: none;
}

/* line 59, ../sass/components/_search.scss */
.toolbar-horizontal .search-block-form #search-block-form {
  margin: 150px 0 0;
}

/* line 64, ../sass/components/_search.scss */
.is-search-active {
  overflow: hidden;
}
/* line 66, ../sass/components/_search.scss */
.is-search-active .region-search-area {
  visibility: visible;
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* line 70, ../sass/components/_search.scss */
.is-search-active .search-area {
  text-align: right;
}
/* line 72, ../sass/components/_search.scss */
.is-search-active .search-area .fa-search {
  color: #ed1c24;
}

/* line 78, ../sass/components/_search.scss */
.sch-dis .search-bar {
  display: none;
}

/* line 82, ../sass/components/_search.scss */
.search-advanced {
  margin-top: 20px;
}

/**
* Search page
**/
/* line 91, ../sass/components/_search.scss */
.main-area .search-form .container-inline {
  position: relative;
}
/* line 94, ../sass/components/_search.scss */
.main-area .search-form .form-type-search {
  display: block;
  margin-right: 130px;
}
/* line 97, ../sass/components/_search.scss */
.main-area .search-form .form-type-search input.form-search {
  width: 100%;
  border: 1px solid #ccc;
  padding: 5px 15px;
}
/* line 103, ../sass/components/_search.scss */
.main-area .search-form .form-submit {
  position: absolute;
  top: 50%;
  margin-top: -9px;
  right: 0;
}

/**
* Search result
**/
/* line 115, ../sass/components/_search.scss */
.search-results {
  padding: 0;
  margin: 0;
}
/* line 118, ../sass/components/_search.scss */
.search-results li {
  margin: 20px 0;
  border-bottom: 1px solid #ccc;
  background: #fff;
  padding: 15px 20px;
}
/* line 123, ../sass/components/_search.scss */
.search-results li h3 {
  margin: 10px 0;
  font-weight: 600;
}
/* line 127, ../sass/components/_search.scss */
.search-results li p {
  margin: 10px 0;
}

/* line 134, ../sass/components/_search.scss */
.search-advanced summary {
  top: 15px;
}
/* line 137, ../sass/components/_search.scss */
.search-advanced fieldset {
  border: none;
  margin: 0 0 20px;
}
/* line 140, ../sass/components/_search.scss */
.search-advanced fieldset > legend {
  font-size: 1.2em;
  font-weight: 500;
}
/* line 144, ../sass/components/_search.scss */
.search-advanced fieldset fieldset {
  margin: 0;
}
/* line 149, ../sass/components/_search.scss */
.search-advanced .details-wrapper .action .form-submit {
  position: static;
  top: auto;
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  /* line 159, ../sass/components/_search.scss */
  .search-block-form input.form-text {
    font-size: 2em;
  }
}
/* line 2, ../sass/components/_navigation.scss */
.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none outside none;
}
/* line 7, ../sass/components/_navigation.scss */
.navigation ul > li {
  display: block;
}
/* line 10, ../sass/components/_navigation.scss */
.navigation ul > li a {
  font-family: "Roboto Condensed", sans-serif;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 22, ../sass/components/_navigation.scss */
.menu--main ul li.menu-item--expanded:after {
  content: '\f107';
  font: normal normal normal 18px/1 FontAwesome;
  position: absolute;
  top: 50%;
  right: 8px;
  margin-top: -9px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
  cursor: pointer;
}

/* line 40, ../sass/components/_navigation.scss */
.menu--footer ul li {
  padding: 5px 0;
  display: block;
}
/* line 44, ../sass/components/_navigation.scss */
.menu--footer ul li a {
  color: #fff;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 1em;
  text-transform: uppercase;
}
/* line 50, ../sass/components/_navigation.scss */
.menu--footer ul li a.is-active {
  color: #ff865c;
}
/* line 54, ../sass/components/_navigation.scss */
.menu--footer ul li a:hover {
  color: #fb8258;
}

/* line 62, ../sass/components/_navigation.scss */
.breadcrumb-wrap {
  background: #dee0f9;
}
/* line 65, ../sass/components/_navigation.scss */
.breadcrumb-wrap .breadcrumb {
  margin: 0;
  background: transparent;
}

/* line 74, ../sass/components/_navigation.scss */
.menu--main > ul li.menu-expand > .menu,
.menu--main > ul li.menu-expand-two > .menu {
  max-height: none !important;
}
/* line 77, ../sass/components/_navigation.scss */
.menu--main > ul li.menu-expand:after,
.menu--main > ul li.menu-expand-two:after {
  transform: rotate(180deg) !important;
}

@media only screen and (max-width: 1023px) {
  /* line 85, ../sass/components/_navigation.scss */
  .main-navigation {
    position: fixed;
    top: 104px;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #000;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 8;
  }

  /* line 97, ../sass/components/_navigation.scss */
  .is-menu-active .main-navigation {
    left: 0;
  }
  /* line 102, ../sass/components/_navigation.scss */
  .is-menu-active .mob-icon .fa-bars {
    color: #ed1c24;
  }
  /* line 105, ../sass/components/_navigation.scss */
  .is-menu-active .mob-icon .fa-bars:before {
    content: '\f00d';
  }

  /* line 114, ../sass/components/_navigation.scss */
  .menu--main > ul > li {
    padding-left: 1em;
    border-bottom: 1px dotted #555;
  }
  /* line 121, ../sass/components/_navigation.scss */
  .menu--main ul > li {
    line-height: 42px;
    position: relative;
    padding: 0;
  }
  /* line 125, ../sass/components/_navigation.scss */
  .menu--main ul > li a {
    font-size: 1.075em;
    text-transform: uppercase;
    padding: 0 15px;
    color: #fff;
  }
  /* line 130, ../sass/components/_navigation.scss */
  .menu--main ul > li a.is-active {
    color: #fff;
  }
  /* line 136, ../sass/components/_navigation.scss */
  .menu--main ul > li.menu-item--expanded .menu {
    max-height: 0;
    overflow: hidden;
    -moz-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    background: #525252;
  }
  /* line 141, ../sass/components/_navigation.scss */
  .menu--main ul > li.menu-item--expanded .menu li {
    padding: 0;
  }
  /* line 143, ../sass/components/_navigation.scss */
  .menu--main ul > li.menu-item--expanded .menu li a {
    text-transform: capitalize;
    font-size: 1.2em;
    padding: 0 30px;
    border-bottom: 1px dotted #555;
  }
  /* line 151, ../sass/components/_navigation.scss */
  .menu--main ul > li.menu-item--expanded .menu li:last-child a {
    border-bottom: none;
  }
  /* line 157, ../sass/components/_navigation.scss */
  .menu--main ul > li.menu-item--expanded a {
    display: block;
    margin-right: 50px;
    border-right: 1px dotted #555;
  }
  /* line 163, ../sass/components/_navigation.scss */
  .menu--main ul > li.menu-item--expanded:after {
    right: 20px;
    top: 13px;
    margin-top: 0;
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -moz-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    color: #fff;
  }
  /* line 173, ../sass/components/_navigation.scss */
  .menu--main ul > li.is-menu-expand {
    background: #333;
  }
  /* line 175, ../sass/components/_navigation.scss */
  .menu--main ul > li.is-menu-expand a {
    border-right: none;
  }
  /* line 179, ../sass/components/_navigation.scss */
  .menu--main ul > li.is-menu-expand .menu {
    max-height: none;
  }
  /* line 183, ../sass/components/_navigation.scss */
  .menu--main ul > li.is-menu-expand:after {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@media only screen and (min-width: 48em) {
  /* line 193, ../sass/components/_navigation.scss */
  .menu--footer ul {
    text-align: center;
  }
  /* line 196, ../sass/components/_navigation.scss */
  .menu--footer ul li {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    padding: 0 15px;
  }
}
@media only screen and (min-width: 64em) {
  /* line 205, ../sass/components/_navigation.scss */
  .menu--main ul {
    text-align: center;
  }
  /* line 208, ../sass/components/_navigation.scss */
  .menu--main ul li {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    position: relative;
    padding: 0 15px;
  }
  /* line 213, ../sass/components/_navigation.scss */
  .menu--main ul li.menu-item--expanded {
    padding-right: 25px;
  }
  /* line 215, ../sass/components/_navigation.scss */
  .menu--main ul li.menu-item--expanded:hover:after {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  /* line 220, ../sass/components/_navigation.scss */
  .menu--main ul li a {
    font-weight: 700;
    text-transform: Uppercase;
    font-size: 14px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  /* line 226, ../sass/components/_navigation.scss */
  .menu--main ul li a:hover {
    color: #ed1c24;
    text-decoration: none;
  }
  /* line 231, ../sass/components/_navigation.scss */
  .menu--main ul li ul {
    position: absolute;
    line-height: normal;
    background: #fff;
    text-align: left;
    width: 240px;
    padding: 10px 0;
    z-index: 6;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    top: 60px;
    left: 0;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  /* line 246, ../sass/components/_navigation.scss */
  .menu--main ul li ul li {
    display: block;
  }
  /* line 248, ../sass/components/_navigation.scss */
  .menu--main ul li ul li a {
    display: block;
    padding: 10px 0;
  }
  /* line 252, ../sass/components/_navigation.scss */
  .menu--main ul li ul li ul {
    top: -10px;
    left: auto;
    right: -240px;
  }
  /* line 256, ../sass/components/_navigation.scss */
  .menu--main ul li ul li ul li {
    display: block;
  }
  /* line 263, ../sass/components/_navigation.scss */
  .menu--main ul li:hover > ul {
    max-height: none;
    visibility: visible;
    opacity: 1;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  /* line 268, ../sass/components/_navigation.scss */
  .menu--main ul li:hover > ul li {
    border-bottom: 1px solid #eee;
  }
  /* line 270, ../sass/components/_navigation.scss */
  .menu--main ul li:hover > ul li:last-child {
    border-bottom: none;
  }
}
/* line 2, ../sass/components/_block.scss */
.sidebar .block {
  background: #fff;
  padding: 20px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 6, ../sass/components/_block.scss */
.sidebar .block h2 {
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
  margin: 0 0 5px;
  font-size: 1.3em;
}

/* line 16, ../sass/components/_block.scss */
.block-page-title-block h1.page-title {
  margin: 25px 0;
  color: #000;
  font-size: 3.1rem;
  line-height: 1.15;
  text-transform: uppercase;
  font-weight: 700;
}

/* line 27, ../sass/components/_block.scss */
.path-node .block-page-title-block h1.page-title {
  margin: 0;
  word-wrap: break-word;
  text-align: center;
  background: #fff;
}
/* line 32, ../sass/components/_block.scss */
.path-node .block-page-title-block h1.page-title .field--name-title {
  max-width: 740px;
  margin: 0 auto;
  display: block;
  padding: 40px 20px 20px;
}

/* line 2, ../sass/components/_node.scss */
.field--name-field-tags .field__label {
  display: none;
}
/* line 5, ../sass/components/_node.scss */
.field--name-field-tags .field__item {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 7, ../sass/components/_node.scss */
.field--name-field-tags .field__item a {
  background: #ed1c24;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 2px 10px;
  color: #fff;
  font-size: 0.9em;
}

/* line 16, ../sass/components/_node.scss */
.node__links {
  padding: 5px 0 0;
}
/* line 19, ../sass/components/_node.scss */
.node__links ul li {
  padding: 0 10px 0 0;
  font-size: 0.9em;
}
/* line 22, ../sass/components/_node.scss */
.node__links ul li a {
  font-size: 1em;
  font-weight: 600;
}

/* line 29, ../sass/components/_node.scss */
.views-row {
  margin: 0 0 20px;
}
/* line 31, ../sass/components/_node.scss */
.views-row .node--view-mode-teaser {
  background: #fff;
}
/* line 33, ../sass/components/_node.scss */
.views-row .node--view-mode-teaser h2 {
  margin: 0 0 10px;
}
/* line 36, ../sass/components/_node.scss */
.views-row .node--view-mode-teaser p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #000;
  line-height: 1.5;
  margin: 5px 0 10px;
}
/* line 44, ../sass/components/_node.scss */
.views-row .node--view-mode-teaser .content-right {
  padding: 25px;
}
/* line 46, ../sass/components/_node.scss */
.views-row .node--view-mode-teaser .content-right h2.node__title {
  font-size: 1.8em;
  line-height: 1.1;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 53, ../sass/components/_node.scss */
.views-row .node--view-mode-teaser .content-right .field--name-body p {
  font-size: 0.950em;
  font-weight: 400;
  word-break: break-all;
}

/* line 63, ../sass/components/_node.scss */
.node--view-mode-full {
  background: #fff;
  padding: 0 20px 20px;
  margin: 0 0 25px;
}
/* line 67, ../sass/components/_node.scss */
.node--view-mode-full .field--name-field-image {
  margin: 0 -20px;
}
/* line 70, ../sass/components/_node.scss */
.node--view-mode-full .submitted-info {
  padding: 0 0 30px;
  text-align: center;
  display: block;
  font-size: 1.3em;
}
/* line 75, ../sass/components/_node.scss */
.node--view-mode-full .submitted-info .username {
  font-weight: 700;
}
/* line 79, ../sass/components/_node.scss */
.node--view-mode-full p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.250em;
  color: #000;
  line-height: 1.8;
}

/* line 1, ../sass/components/_comment.scss */
.node__links ul li.comment-add {
  display: none;
}

/* line 5, ../sass/components/_comment.scss */
.field--type-comment h2.title {
  margin: 20px 0 10px;
  font-weight: 700;
  color: #000;
}

/* line 11, ../sass/components/_comment.scss */
.comment {
  padding: 10px 20px;
  margin: 20px 0 20px 20px;
  background: #eee;
  border-left: 5px solid #325e1c;
}
/* line 17, ../sass/components/_comment.scss */
.comment .comment__content-container h3 {
  margin: 0;
  font-weight: 700;
}
/* line 21, ../sass/components/_comment.scss */
.comment .comment__content-container p {
  margin: 0 0 10px;
  line-height: normal;
  color: #000;
  font-size: 1em;
}
/* line 27, ../sass/components/_comment.scss */
.comment .comment__content-container ul.links {
  text-align: right;
  margin: 0;
  padding: 0;
  display: block;
}
/* line 32, ../sass/components/_comment.scss */
.comment .comment__content-container ul.links li {
  padding: 0 10px 0 0;
  color: #000;
  font-size: 0.950em;
}
/* line 36, ../sass/components/_comment.scss */
.comment .comment__content-container ul.links li a {
  font-weight: 600;
}
/* line 41, ../sass/components/_comment.scss */
.comment .comment__content-container .comment-submited {
  color: #000;
  font-weight: 500;
  font-size: 0.950em;
  display: block;
  margin: 0 0 5px;
}

/* line 50, ../sass/components/_comment.scss */
.ui-dialog .ui-dialog-titlebar-close {
  background: url("../images/cancel.png") no-repeat center right;
  background-size: 12px;
  outline: none;
  min-width: auto;
}

/* line 2, ../sass/components/_page.scss */
.maintenance-page .main-content {
  margin-top: 65px;
}
/* line 5, ../sass/components/_page.scss */
.maintenance-page .main-area {
  font-size: 2.2em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  max-width: 740px;
  margin: 0 auto;
  padding: 15px;
}
/* line 15, ../sass/components/_page.scss */
.maintenance-page .maintenance-image {
  padding: 50px 0 0;
  max-width: 360px;
  margin: 0 auto;
}

/**
* Content top region Layout
**/
/* line 25, ../sass/components/_page.scss */
.content-top {
  margin: 25px 0;
}

/**
* Content top First region layout
**/
/* line 32, ../sass/components/_page.scss */
.content-top-first {
  margin: 25px 0;
}
/* line 34, ../sass/components/_page.scss */
.content-top-first .view {
  display: none;
}
/* line 36, ../sass/components/_page.scss */
.content-top-first .view .views-row {
  background: #fff;
}
/* line 38, ../sass/components/_page.scss */
.content-top-first .view .views-row .views-field-title {
  padding: 10px 15px;
  font-weight: 600;
  min-height: 60px;
}

@media only screen and (min-width: 35.5em) {
  /* line 52, ../sass/components/_page.scss */
  .content-top .view .views-row:nth-child(even) .image-left {
    float: right;
  }
  /* line 55, ../sass/components/_page.scss */
  .content-top .view .views-row:nth-child(even) .content-right {
    float: left;
  }
}
@media only screen and (min-width: 64em) {
  /* line 68, ../sass/components/_page.scss */
  .content-top .view .views-row .content-right {
    padding: 70px 80px 40px;
  }
  /* line 70, ../sass/components/_page.scss */
  .content-top .view .views-row .content-right h2.node__title {
    font-size: 3em;
  }

  /* line 78, ../sass/components/_page.scss */
  .maintenance-page .main-content {
    margin-top: 0;
  }
  /* line 81, ../sass/components/_page.scss */
  .maintenance-page .main-area {
    font-size: 3.2em;
  }

  /* line 86, ../sass/components/_page.scss */
  .content-top-first .view {
    display: block;
  }
  /* line 88, ../sass/components/_page.scss */
  .content-top-first .view .views-row {
    float: left;
    width: 20%;
  }
  /* line 91, ../sass/components/_page.scss */
  .content-top-first .view .views-row .views-field-field-image {
    max-height: 160px;
    overflow: hidden;
  }
}
#block-flexi-magazine-content .js-form-item h4 {
  color: #000;
}
