// Variables

$site_bg: #f5f5f5;
$base_color : #626262;
$link_color :#000000;
$link_h_color: #ed1c24;
$link_sec_color: $link_color;
$link_sech_color: $link_h_color;
$sep_color: #ccc;
$title_link_color: #2c2c2c;
$sec_bg: #fff;
$black_color: #000;
$light_org: #ff865c;
$light_h_org: #fb8258;
$text_white: $sec_bg;
// Navigation
$nav_bg: #424a5d;
$nav_in_bg: #424a5d;
$nav_sep_clr: #232730;
$nav_clr: #788195;
$nav_h_clr: $sec_bg;
$nav_d_dwn: #21252d;
$nav_ftr: #21252d;

//Table
$tabl_sep_clr: $sep_color;
$tabl_bg: #fff;
$tabl_odd_bg: #f0f0f0;
$tabl_hvr_bg: #daeffd;

//Forms
$inpt_sep: $sep_color;
$inpt_bg: $sec_bg;
$inpt_clr: $title_link_color;
$inpt_h_bg: #f0f0f0;
$btn_clr : $link_sec_color;
$btn_h_clr: $link_sech_color;
$btn_f_clr: $site_bg;
$sel_itm: #48b0f7;
$desc_sep: #dee0f9;
$desc_bg: #dee0f9;
$star_clr: #bdb7d8;

//Tabs
$tabs_act: #424a5d;
$taba_act_clr: #626262;

// message error
 $error_msg: #fcf4f2;
 $error_clr: #a51b00;
 $error_shadw: #e62600;
 $error_br_clr: #f9c9bf;

 // message error
 $stats_msg: #f3faef;
 $stats_clr: #325e1c;
 $stats_br_clr: #c9e1bd;
 $stats_shadw_clr: #77b259;
 
//Fonts
$base-font-family: 'Roboto Condensed', sans-serif !default;
$fnt_montserrat:  'Open Sans', sans-serif;

