// Fonts import from google
// @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/**
 * Generic Components
*/
* {
	@include box-sizing(border-box);
}
body {
	color: $base_color;
	background: $site_bg;
	font-family: $base-font-family;
}
a {
	color: $link_color;
	transition: color 0.1s linear 0s,background-color 0.1s linear 0s,opacity 0.2s linear 0s!important;
	text-decoration: none;
	outline: 0;
}
a:focus, a:hover, a:active {
	color: $link_h_color;
}

img {
	width: auto;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
h1 {
	margin-top: 0;
}
ol, ul {
	padding-left: 15px;
}
dt {
	font-weight: 600;
	margin: 10px 0 0;
	&:first-child {
		margin-top: 0;
	}
}
dd {
	margin-left: 0;
}
.container {
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1920px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}
.container-layout-1 {
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1480px;
	width: auto;
	margin-left: auto;
	margin-right: auto;
}

/**
 * Breadcrumb
*/
.breadcrumb {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.846em;
	ol{
    list-style-type: none;
    margin: 0;
    padding: 15px 0 10px;
    li{
      display: inline;
			padding: 0 5px 0 0;
			&::before {
				display: none;
			}
      a{
        &:before {
          content: '\f101';
          display: inline-block;
          font: normal normal normal 12px/1 FontAwesome;
          position: relative;
          right: 3px;
        }
      }
      &:first-child a{
        &:before {
          display: none;
        }
      }
    }
  }
}


/**
 Tabs
*/
.tabs {
	margin: 0 0 15px;
	ul{
		border-bottom: 1px solid $sep-color;
		white-space: normal;
		margin: 0;
		padding: 0;
    list-style-type: none;
		li {
			padding: 0;
			border: 0;
      @include inline-block;
			a {
				@include inline-block;
				background: none;
				border: 0;
				padding: 15px 20px;
				margin: 0;
				text-transform: uppercase;
				color: $black_color;
				position: relative;
				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 100%;
					height: 0;
					background: $tabs_act;
					width: 100%;
					left: 0;
					@include transition-property(all);
					@include transition-timing-function(linear);
					@include transition-duration(0.1s);
				}
        &.is-active:before, a:hover:before {
          height: 3px;
          color: $taba_act_clr;
        }
			}
		}
	}
	ul {
		margin: 10px 0 0;
		li a {
			padding: 8px 20px;
			font-size: 1rem;
		}
	}
}


/**
 * site logo
*/

.site-logo {
	padding: 12px 0;
	.site-branding__logo, .site-branding__text {
		display: inline-block;
		vertical-align: middle;
	}
	.site-branding__name a{
		font-size: 1.4em;
		font-family: $fnt_montserrat;
		padding-left: 10px;
	}
}


/**
 * Pager
*/
.pager {
	margin: 0 0 20px;
	padding: 0;
	text-align: center;
	list-style: none outside none;
	text-transform: uppercase;
	li {
		@include inline-block;
	}
}


/**
 * Action Links
*/
.action-links {
	margin: 0;
	padding: 12px 0;
	list-style: none outside none;
	li {
		display: inline;
		margin: 0 3px 0 0;
	}
}
.action-links, .compact-link {
	a {
		background: $btn_clr;
	  color: $sec_bg;
	  font-size: 11px;
	  font-weight: 600;
	  padding: 0 10px;
	  display: inline-block;
	  @include border-radius(2px);
    height: 32px;
    line-height: 32px;
	}
}
.title-wrapper {
	h1.title {
		float: left;
		margin-bottom: 10px;
	}
	.action-links {
		float: left;
		padding-left: 20px;
	}
}
.ctools-button {
	background: $sec_bg;
	ul {
		margin: 0;
		padding: 0;
	}
}
ul.links {
	padding-left: 0;
	li {
		@include inline-block;
		list-style: none outside none;
	}
}

/**
 * Blocks
*/
.block {
	& > h2, .block-title {
		margin-top: 0;
	}
}
/**
 * dropbutton toggle
*/
.dropbutton-toggle button:hover, .dropbutton-toggle button:focus {
  background: transparent;
}
.dropbutton-toggle button {
    color: #888;
}


/**
 * edit summary links
*/
.link-edit-summary {
  background: transparent;
  min-width: auto;
  color: $link_color;
  border: none;
  font-size: 11px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  height: auto;
  &:hover {
    background: transparent;
    color: $link_h_color;
  }
}


/**
 * contextual links
*/
.contextual {
  .trigger {
    min-width: auto;
    border-radius: 5px;
  }
  &.open .trigger {
    border-radius: 5px 5px 0 0;
  }
}

/**
 * actions block
*/

.block-local-actions-block {
  nav {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
  }
}

/**
 * messages
*/
.messages__wrapper {
 	font-family: $fnt_montserrat;
	font-size: 1em;
	margin: 0 0 20px;
	padding: 0 0 5px 8px;
}
.messages{
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 15px 20px 15px 35px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.messages--error, .messages--status, .messages--warning {
  background:  $error_msg;
  color: $error_clr;
  box-shadow: -8px 0 0 $error_shadw;
  border-color: $error_br_clr;
  position: relative;
	margin: 0 8px 20px;
  &:before {
    content: '\f057';
    display: inline-block;
    font: normal normal normal 20px/1 FontAwesome;
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -10px;
  }
}
.messages--status {
  color: $stats_clr;
  background:  $stats_msg;
  border-color: $stats_br_clr;
  box-shadow: -8px 0 0 $stats_shadw_clr;
  &:before {
    content: '\f00c';
  }
}
.messages--warning {
	background-color: #fdf8ed;
	border-color: #f4daa6;
	color: #734c00;
	box-shadow: -8px 0 0 #e09600;
	&:before {
    content: '\f071';
	}
}

/**
* Pager
**/
.pager {
	margin: 0;
	.pager__items {
		margin: 0;
		padding: 0;
		li {
			padding: 0;
			a{
				@include border-radius(0px);
				font-size: 0.850em;
				font-weight: 600;
			}
		}
	}
}

/**
* generic Style
**/
.field--name-body {
	ul, ol {
		padding-left: 50px;
		li {
			color: $black_color;
			font-size: 1.250em;
			margin: 15px 0;
		}
	}
}

/**
* blockquote
**/
blockquote {
	margin: 0 80px;
	padding: 0;
	border: none;
	position: relative;
	font-size: 1.8em;
	font-weight: 600;
	p {
		line-height: 40px !important;
	}
	&:before{
		content: '\f10d';
		display: inline-block;
		font: normal normal normal 32px/1 FontAwesome;
		display: block;
		position: absolute;
		left: -50px;
		color: $black_color;
	}
}


@media only screen and (min-width: 64em) {
	.container {
		padding-left: 20px;
		padding-right: 20px;
	}
}