.sidebar {
  .block {
    background: $sec_bg;
    padding: 20px;
    @include border-radius(3px);
    h2 {
      border-bottom: 1px solid #eee;
      padding-bottom: 5px;
      margin: 0 0 5px;
      font-size: 1.3em;
    }
  }
}

.block-page-title-block {
  h1.page-title {
    margin: 25px 0;
    color: $black_color;
    font-size: 3.1rem;
    line-height: 1.15;
    text-transform: uppercase;
    font-weight: 700;
  }
}
.path-node {
  .block-page-title-block {
    h1.page-title {
      margin: 0;
      word-wrap: break-word;
      text-align: center;
      background: $sec_bg;
      .field--name-title {
        max-width: 740px;
        margin: 0 auto;
        display: block;
        padding: 40px 20px 20px;
      }
    }
  }
}