.node__links ul li.comment-add {
  display: none;
}
.field--type-comment {
  h2.title {
    margin: 20px 0 10px;
    font-weight: 700;
    color: $black_color;
  }
}
.comment {
  padding: 10px 20px;
  margin: 20px 0 20px 20px;
  background: #eee;
  border-left: 5px solid  $stats_clr;
  .comment__content-container {
    h3 {
     margin: 0;
     font-weight: 700;
    }
    p {
      margin: 0 0 10px;
      line-height: normal;
      color: $black_color;
      font-size: 1em;
    }
    ul.links {
      text-align: right;
      margin: 0;
      padding: 0;
      display: block;
      li {
        padding: 0 10px 0 0;
        color: $black_color;
        font-size: 0.950em;
        a{
          font-weight: 600;
        }
      }
    }
    .comment-submited {
      color: $black_color;
      font-weight: 500;
      font-size: 0.950em;
      display: block;
      margin: 0 0 5px;
    }
  }
}
.ui-dialog .ui-dialog-titlebar-close {
  background: url('../images/cancel.png') no-repeat  center right;
  background-size: 12px;
  outline: none;
  min-width: auto;
}