.footer{
  background: $nav_ftr;
  padding: 18px 0;
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
}

.footer-bottom {
  background: $nav_bg;
  background: #424a5d;
  padding: 5px 0;
  color: $text_white;
  a{
    color: $text_white;
    &:hover {
      color: $light_h_org;
    }
  }
  .logo {
    width: 240px;
    height: auto;
    padding: 10px 0 0;
    img{
      filter: brightness(0) invert(1);
    }
  }
  .first {
    text-align: center;
  }
  .second {
    text-align: center;
    padding: 5px 0;
  }
}

@media only screen and (min-width: 768px) {
  .footer-bottom {
    .first {
      text-align: left;
    }
    .second {
      padding: 15px 0;
      text-align: right;
    }
  }
}