/**
 * Form Fields
*/
input[type="text"], input.form-text, select, textarea, input[type="email"]{
	border: 1px solid $inpt_sep;
	background: $inpt_bg;
	color: $inpt_clr;
	height: 35px;
	padding: 6px 12px;
	font-size: 100%;
	@include border-radius(2px);
	max-width: 100%;
	vertical-align: middle;
	&:focus {
		border-color: rgba(0,0,0,0.1);
		outline: 0 !important;
		background: $inpt_h_bg;
		@include box-shadow(none);
	}
}
textarea, select[multiple="multiple"] {
	height: auto;
	padding: 5px;
}
button, .form-submit, .button, input[type="button"] {
	background: $link_sec_color;
	border: 1px solid $link_sec_color;
	@include transition(color 0.1s linear 0s,background-color 0.1s linear 0s,opacity 0.2s linear 0s!important);
	color: $btn_f_clr;
	min-width: 120px;
	margin-right: 5px;
	@include inline-block;
	padding: 6px 12px;
	white-space: nowrap;
	cursor: pointer;
	@include user-select(none);
	@include border-radius(4px);
	height: 35px;
	line-height: 20px;
	text-align: center;
	&:hover {
		background: $link_sech_color;
		border-color: $link_sech_color;
	}
}
a.button {
	color: $btn_f_clr;
}
details {
	border: 1px solid $inpt_sep;
	background: $inpt_bg;
	margin: 0 0 20px;
	padding: 35px 5px 20px;
	position: relative;
	summary {
		font-family: $fnt_montserrat;
		font-weight: 600;
		text-transform: uppercase;
		position: absolute;
		top: 10px;
		left: 20px;
		z-index: 1;
    cursor: pointer;
	}
	.form-item  {
		padding: 0;
    margin: 0;
	}
}
.form-item {
	margin: 0 0 20px;
	position: relative;
	.description {
		position: absolute;
		width: 260px;
		padding: 10px;
		border: 1px solid $desc_sep;
		background: $desc_bg;
		color: $black_color;
		right: 0px;
		bottom: 100%;
		display: none;
		margin-bottom: -10px;
		z-index: 3;
		&:after {
			content: '';
			display: block;
			height: 0;
			width: 0;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-top: 7px solid $desc_bg;
			position: absolute;
			top: 100%;
			left: 20px;
		}
	}
	&:hover > .description {
		display: block;
	}
}
.container-inline-date .form-item .description {
	width: 150px;
}
.description {
	font-size: 0.846em;
	line-height: 1.5;
	margin-top: 5px;
}
.form-item label.option {
	text-transform: none;
	font-weight: 400;
}
.form-type-radios .form-type-radio, .form-type-checkboxes .form-type-checkbox {
	margin-bottom: 8px;
}
input.fluid {
	width: 100%;
}
html.js fieldset.collapsed {
	border-width: 1px;
}
.tips {
	padding-left: 15px;
}
.filter-guidelines-item > h3:first-child {
	margin-bottom: 5px;
}
.form-item label {
	font-size: 11px;
	font-family: $fnt_montserrat;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0 10px 3px 0;
	display: block;
}


/**
 * Date Field
*/
.container-inline-date {
	display: inline;
	.date-padding {
		float: none;
		display: inline-block;
		padding: 0;
		label {
			display: block
		}
	}
	.form-item .form-item {
		float: none;
		display: inline-block;
		vertical-align: middle;
	}
}


/**
 * Date picker
*/
#ui-datepicker-div {
	padding: 16px 25px;
	@include box-shadow(0px 0px 5px rgba(98,98,98,0.2));
	border: 1px solid rgba(0,0,0,0.2);
	background: $inpt_bg;
	min-width: 200px;
	width: auto;
}
.ui-datepicker {
	.ui-datepicker-header {
		background: none;
		border: 0;
		margin: 0 0 10px;
	}
	.ui-datepicker-prev, .ui-datepicker-next {
		left: 0;
		top: 3px;
		background: none;
		border: 0;
		cursor: pointer;
		width: 20px;
		height: 28px;
		&:before {
			content: '\f104';
			font: normal normal normal 14px/1 FontAwesome;
			font-size: 16px;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			display: inline-block;
			vertical-align: top;
			color: $btn_clr;
			height: 16px;
			margin: 5px 6px;
		}
		span {
			display: none;
		}
	}
	.ui-datepicker-next {
		left: auto;
		right: 0;
		&:before {
			content: '\f105';
		}
	}
	.ui-datepicker-title {
		margin: 0 25px;
		select {
			padding: 4px;
			height: auto;
			min-height: 0;
			margin: 0;
		}
	}
	.ui-datepicker-calendar {
		border: 0;
		th, td {
			border: 0;
			font-size: 11px;
			padding: 0;
			background: none;
		}
		th {
			color: $btn_clr;
		}
		.ui-state-default {
			border: 0;
			background: none;
			padding: 0;
			width: 26px;
			margin: 1px;
			@include border-radius(2px);
			text-align: center;
			&:hover {
				background: $inpt_sep;
			}
		}
	}
}

/**
 * Dependent dropdown
*/
.dependent-options {
	overflow: visible !important;
}
.js {
  input.form-autocomplete.ui-autocomplete-loading {
    background-repeat: no-repeat;
  }
  .dropbutton-wrapper{
    &.open {
      .dropbutton-widget {
        background: $site_bg;
        padding: 5px 25px 5px 15px;
        @include border-radius(5px);
        a{
          font-size:1em;
        }
				input {
					color: $link_color;
				}
      }
    }
  }
	.dropbutton-toggle button {
		color: $link_color;
	}
}

