#header {
	width: 100%;
  z-index: 10;
  background: $sec_bg;
  line-height: 64px;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  @include transition(all 0.3s ease);
  &:after {
    bottom: -5px;
    box-shadow: inset 0px 4px 8px -3px rgba(17, 17, 17, .06);
    content: "";
    height: 5px;
    left: 0px;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 10;
  }
}
.mob-icon{
  width: 25px;
  text-align: right;
  .fa-bars {
    cursor: pointer;
    @include transition(all 0.3s ease);
    font-size: 1.250em;
  }
}

.search-area {
  text-align: right;
  .fa-search {
    cursor: pointer;
    @include transition(all 0.3s ease);
    @include scale(1,1);
    font-size: 1.250em;
    &:hover {
      color: $link_h_color;
      @include scale(1.1,1.1);
    }
  }
}

.header-top-container {
  padding: 3px 0;
  background: #424a5d;
  line-height: 32px;
  .social-links-icon {
    margin: 0;
    padding: 0;
    list-style-type: none;
    line-height: 34px;
    li {
      @include inline-block;
      padding-right: 10px;
      a{
        color: $text_white;
        @include transition(all 0.3s ease);
        .fa {
          font-size: 1.1em;
          @include transition(all 0.3s ease);
          @include scale(1,1);
        }
        &:hover {
          color: $light_h_org;
          .fa {
            @include scale(1.1,1.1);
          }
        }
      }
      
    }
  }
}

.usr-log-info {
  span {
    color: $text_white;
    font-size: 1.1em;
    font-weight: 700;
    cursor: pointer;
    @include transition(all 0.3s ease);
    &:hover {
      color: $light_h_org;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      padding: 0;
      a{
        color: $text_white;
        font-weight: 700;
        font-size: 1.1em;
        @include transition(all 0.3s ease);
        text-decoration: none;
        &.is-active {
          color: $text_white;
        }
        &:hover {
          color: $light_h_org;
        }
      }
    }
  }
}
.user-logged-in {
  .usr-log-info {
    position: relative;
    ul {
      max-height: 0;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 36px;
      right:0;
      width: 220px;
      background: $sec_bg;
      z-index: 12;
      @include box-shadow(0px 2px 5px rgba(0, 0, 0, 0.52));
      @include transition(all 0.3s ease);
      li {
        padding: 10px 0;
        border-bottom: 1px dotted #eee;
        a{
          font-weight: 500;
          color: $black_color;
          padding: 0 15px;
          @include transition(all 0.3s ease);
          text-decoration: none;
          &:hover {
            color: $light_h_org;
          }
        }
        &:last-child {
          border-bottom: none;
        }
      }
      &:before{
        content: '';
        position: absolute;
        right: 20px;
        top: -10px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $text_white;
        clear: both;
        opacity: 0;
      }
    }
  }
  &.is-myaccount-active {
    .usr-log-info {
      ul {
        max-height: none;
        visibility: visible;
        opacity: 1;
        &:before {
          opacity: 1;
        }
      }
    }
  }
}


@media only screen and (max-width: 1023px) {
  .header-top-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 12;
  }
  .container-wrap {
    display: grid;
    float: left;
    grid-template-columns: 70px auto 70px;
    width: 100%;
  }
  .header-logo {
    text-align: center;
    .logo {
      width: 220px;
      margin: 0 auto;
    }
  }
}

@media only screen and (min-width: 64em) {

  #header {
    position: relative;
    top: auto;
  }
  .header-left {
    width: 18%;
    float: left;
  }
  .header-right {
    width: 82%;
    float: right;
  }
  .search-area {
    width: 25px;
    float: right;
  }
  .main-navigation {
    width: 95%;
    float: left;
    .fa-bars {
      display: none;
    }
  }
  .mob-icon{
    display: none;
  }
}