.navigation {
  ul {
    margin: 0;
    padding: 0;
    list-style: none outside none;

    & > li {
      display: block;

      a {
        font-family: $base-font-family;
        @include transition(all 0.3s ease);
      }
    }
  }
}

.menu--main {
  ul {
    li {
      &.menu-item--expanded {
        &:after {
          content: '\f107';
          font: normal normal normal 18px/1 FontAwesome;
          position: absolute;
          top: 50%;
          right: 8px;
          margin-top: -9px;
          @include transition(all 0.3s ease);
          @include rotate(0);
          cursor: pointer;
        }
      }
    }
  }
}

.menu--footer {
  ul {
    li {
      padding: 5px 0;
      display: block;

      a {
        color: $text_white;
        @include transition(all 0.3s ease);
        font-size: 1em;
        text-transform: uppercase;

        &.is-active {
          color: $light_org;
        }

        &:hover {
          color: $light_h_org;
        }
      }
    }
  }
}

.breadcrumb-wrap {
  background: #dee0f9;

  .breadcrumb {
    margin: 0;
    background: transparent;
  }
}
.menu--main {
  > ul {
    li {
      &.menu-expand,&.menu-expand-two {
        > .menu {
          max-height: none !important;
        }
        &:after {
          transform: rotate(180deg) !important;
        }
      }
    }
  }
}
@media only screen and (max-width: 1023px) {
  .main-navigation {
    position: fixed;
    top: 104px;
    left: -100%;
    width: 100%;
    height: 100%;
    background: $black_color;
    @include transition(all 0.3s ease);
    z-index: 8;
  }

  .is-menu-active {
    .main-navigation {
      left: 0;
    }

    .mob-icon {
      .fa-bars {
        color: $link_h_color;

        &:before {
          content: '\f00d';
        }
      }
    }
  }

  .menu--main {
    > ul {
      > li {
        padding-left: 1em;
        border-bottom: 1px dotted #555;
      }
    }

    ul {
      > li {
        line-height: 42px;
        position: relative;
        padding:0;
        a {
          font-size: 1.075em;
          text-transform: uppercase;
          padding: 0 15px;
          color: $text_white;
          &.is-active {
            color: $text_white;
          }
        }

        &.menu-item--expanded {
          .menu {
            max-height: 0;
            overflow: hidden;
            @include transition(all 250ms ease-in-out);
            background: #525252;
            li {
              padding: 0;
              a{
                text-transform: capitalize;
                font-size: 1.2em;
                padding: 0 30px;
                // margin-right: 0;
                border-bottom: 1px dotted #555;
              }
              &:last-child {
                a{
                  border-bottom: none;
                }
              }
            }
          }
          a {
            display: block;
            margin-right: 50px;
            border-right: 1px dotted #555;
          }

          &:after {
            right: 20px;
            top: 13px;
            margin-top: 0;
            @include rotate(0);
            @include transition(all 250ms ease-in-out);
            color:$text-white;
          }
        }

        &.is-menu-expand {
          background: #333;
          a {
            border-right: none;
          }

          .menu {
            max-height: none;
          }

          &:after {
            @include rotate(180deg);
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 48em) {
  .menu--footer {
    ul {
      text-align: center;

      li {
        @include inline-block;
        padding: 0 15px;
      }
    }
  }
}
@media only screen and (min-width: 64em) {
  .menu--main {
    ul {
      text-align: center;

      li {
        @include inline-block;
        position: relative;
        padding: 0 15px;

        &.menu-item--expanded {
          padding-right: 25px;
          &:hover:after {
            @include rotate(180deg);
          }
        }

        a {
          font-weight: 700;
          text-transform: Uppercase;
          font-size: 14px;
          @include transition(all 0.3s ease);

          &:hover {
            color: $link_h_color;
            text-decoration: none;
          }
        }
        ul {
          position: absolute;
          line-height: normal;
          background: $sec_bg;
          text-align: left;
          width: 240px;
          padding: 10px 0;
          z-index: 6;
          max-height: 0;
          opacity: 0;
          visibility: hidden;
          top: 60px;
          left: 0;
          @include transition(all 0.3s ease);
          @include translateY(-20px);
          li {
            display: block;
            a {
              display: block;
              padding: 10px 0;
            }
            ul {
              top: -10px;
              left: auto;
              right: -240px;
              li {
                display: block;
              }
            }
          }
        }

        &:hover > ul {
          max-height: none;
          visibility: visible;
          opacity: 1;
          @include translateY(0);
          li {
            border-bottom: 1px solid #eee;
            &:last-child {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}
