.field--name-field-tags {
    .field__label {
      display: none;
    }
    .field__item {
      @include inline-block;
      a{
        background: $link_h_color;
        @include border-radius(3px);
        padding: 2px 10px;
        color: $text_white;
        font-size: 0.9em;
      }
    }
  }
  .node__links {
    padding: 5px 0 0;
    ul {
      li {
        padding: 0 10px 0 0;
        font-size: 0.9em;
        a{
          font-size: 1em;
          font-weight: 600;
        }
      }
    }
  }
  .views-row{
    margin: 0 0 20px;
    .node--view-mode-teaser {
      background: $sec_bg;
      h2 {
        margin: 0 0 10px;
      }
      p {
        font-family: $fnt_montserrat;
        font-weight: 400;
        font-size: 1em;
        color:$black_color;
        line-height: 1.5;
        margin: 5px 0 10px;
      }
      .content-right {
        padding: 25px;
        h2.node__title {
          font-size: 1.8em;
          line-height: 1.1;
          font-weight: 700;
          text-transform: uppercase;
        }
        .field--name-body {
          p {
            font-size: 0.950em;
            font-weight: 400;
            word-break: break-all;
          }
        }
      }
    }
  }
  
  .node--view-mode-full {
    background: $sec_bg;
    padding: 0 20px 20px;
    margin: 0 0 25px;
    .field--name-field-image {
      margin: 0 -20px;
    }
    .submitted-info {
      padding: 0 0 30px;
      text-align: center;
      display: block;
      font-size: 1.3em;
      .username {
        font-weight: 700;
      }
    }
    p {
      font-family: $fnt_montserrat;
      font-weight: 400;
      font-size: 1.250em;
      color:$black_color;
      line-height: 1.8;
    }
  }