.maintenance-page {
	.main-content {
		margin-top: 65px;
	}
	.main-area {
		font-size: 2.2em;
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		color: $black_color;
		max-width: 740px;
    margin: 0 auto;
    padding: 15px;
	}
	.maintenance-image {
		padding: 50px 0 0;
		max-width: 360px;
		margin: 0 auto;
	}
}

/**
* Content top region Layout
**/
.content-top {
	margin: 25px 0;
}

/**
* Content top First region layout
**/
.content-top-first {
	margin: 25px 0;
	.view {
		display: none;
		.views-row{
			background: $sec_bg;
			.views-field-title {
				padding: 10px 15px;
				font-weight: 600;
				min-height: 60px;
			}
		}
	}
}

@media only screen and (min-width: 35.5em) {
	.content-top {
		.view {
			.views-row{
				&:nth-child(even) {
					.image-left  {
						float: right;
					}
					.content-right {
						float: left;
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 64em) {
	.content-top {
		.view {
			.views-row{
				.content-right {
					padding: 70px 80px 40px;
					h2.node__title {
						font-size: 3em;
					}
				}
			}
		}
	}
	.maintenance-page {
    .main-content {
      margin-top: 0;
    }
    .main-area {
      font-size: 3.2em;
    }
	}
	.content-top-first {
		.view {
			display: block;
			.views-row{
				float: left;
				width: 20%;
				.views-field-field-image {
					max-height: 160px;
					overflow: hidden;
				}
			}
		}
	}
}
#block-flexi-magazine-content .js-form-item h4 {
  color:#000;
}