.region-search-area {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	background: rgba(0, 0, 0, .8);
	z-index: 12;
	visibility: hidden;
  @include translateY(-500px);
  @include transition(all 0.3s ease);
  .search-block-form  {
    margin: 0 2%;
    position: relative;
    #search-block-form {
      margin: 100px 0 0;
    }
  }
	.search-icon {
		position: absolute;
		cursor: pointer;
		right: 0;
    top: -50px;
    .fa-times {
      font-size: 1.250em;
      color: $sec_bg;
      @include transition(all 0.3s ease);
      @include rotate(0deg);
      &:hover {
        @include rotate(360deg);
        color: $link_h_color;
      }
    }
   
	}
	.content {
		padding: 50px 20px;
	}
	.form-actions, label {
		display: none;
	}
	input.form-search {
		background: none;
		height: auto;
		padding: 0;
		color: $inpt_bg;
		border: 0;
		border-bottom: 1px solid $sep_color;
		padding: 8px 0;
		font-size: 1.5em;
		line-height:28px;
		width: 100%;
		outline: none;
	}
}
.toolbar-horizontal {
  .search-block-form  {
    #search-block-form {
      margin: 150px 0 0;
    }
  }
}
.is-search-active {
  overflow: hidden;
	.region-search-area{
		visibility: visible;
		@include translateY(0);
  }
  .search-area {
    text-align: right;
    .fa-search {
      color: $link_h_color;
    }
  }
}
.sch-dis {
	.search-bar {
		display: none;
	}
}
.search-advanced {
	margin-top: 20px;
}

/**
* Search page
**/
.main-area {
	.search-form {
		.container-inline {
			position: relative;
		}
		.form-type-search {
			display: block;
			margin-right: 130px;
			input.form-search {
				width: 100%;
				border: 1px solid $sep_color;
				padding: 5px 15px;
			}
		}
		.form-submit {
			position: absolute;
			top: 50%;
			margin-top: -9px;
			right: 0;
		}
	}
}

/**
* Search result
**/
.search-results {
	padding: 0;
	margin: 0;
	li {
		margin: 20px 0;
		border-bottom: 1px solid $sep_color;
		background: $sec_bg;
		padding: 15px 20px;
		h3{
			margin: 10px 0;
			font-weight: 600;
		}
		p {
			margin: 10px 0;
		}
	}
}

.search-advanced {
	summary {
		top: 15px;
	}
	fieldset {
		border: none;
		margin: 0 0 20px;
		& > legend {
			font-size: 1.2em;
			font-weight: 500;
		}
		fieldset  {
			margin: 0;
		}
	}
	.details-wrapper {
		.action .form-submit {
			position: static;
			top: auto;
			margin-top: 0;
		}
	}
}


@media only screen and (min-width: 768px) {
	.search-block-form input.form-text {
		font-size: 2em;
	}
}

