.table-wrapper {
	width: 100%;
	overflow: auto;
}
table {
	width: 100%;
	margin: 5px 0 20px;
	border-collapse: collapse;
	border: 1px solid $sep_color;
	thead tr th {
		background: $tabl_bg;
		border-bottom: 1px solid $sep_color;
		text-transform: uppercase;
    font-weight: 600;
    font-family: $fnt_montserrat;
    padding: 10px 8px;
    color: $black_color;
    text-align: left;
    a {
    	color: $black_color;
    }
    &.active a, a:active {
    	color: $title_link_color;
    }
    img {
    	margin-left: 10px;
    }
	}
	tbody tr {
		td {
			vertical-align: top;
			border-bottom: 1px solid $sep_color;
			padding: 12px 8px;
			background: $tabl_bg;
			.form-item {
				margin-bottom: 10px;;
			}
			ul {
				margin: 0;
				list-style-type: none;
			}
		}
		&.odd td {
			background: $tabl_odd_bg;
		}
		&:hover td {
			background: $tabl_hvr_bg;
		}
	}
}
table.sticky-header {
	z-index: 2;
}
a.tabledrag-handle .handle {
	height: 20px;
	width: 20px;
	background-position: 0 5px;
}
a.tabledrag-handle-hover .handle {
	background-position: 0 -15px;
}
.tabledrag-toggle-weight-wrapper {
	float: right;
	font-size: 11px;
	margin-bottom: -30px;
	height: 20px;
	padding: 5px;
	a {
		display: block;
		height: 16px;
		width: 16px;
		padding: 2px;
		color: transparent;
		background: $sep_color;
		@include border-radius(2px);
		position: relative;
		&:before {
			content: '\f047';
			font: normal normal normal 14px/12px FontAwesome;
			color: $sec_bg;
			font-size: 12px;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			vertical-align: top;
			position: absolute;
			left: 2px;
			top: 2px;
		}
	}
}
.draggable a.tabledrag-handle {
	margin: 5px -.5em 0 0;
}
.field-ui-overview .field-plugin-settings-edit {
	min-width: auto;
	background: transparent;
	&:hover {
		background: transparent;
		border: none;
	}
}
