{#
/**
 * @file
 * Startup Growth Lite's theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.

 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header_top: Items for the Header Top region.
 * - page.header_first: Items for the Header First region.
 * - page.header: Items for the Header Second region.
 * - page.navigation: Items for the Navigation region.
 * - page.search_area: Items for the Navigation search area region.
 * - page.banner: Items for the Banner region.
 * - page.content_top: Items for the Content Top region.
 * - page.content_top_highlighted: Items for the Content Top Highlighted region.
 * - page.content: Items for the Content region.
 * - page.sidebar_first: Items for the First Sidebar region.
 * - page.sidebar_second: Items for the Second Sidebar region.
 * - page.content_bottom_first: Items for the Content Bottom First region.
 * - page.content_bottom_second: Items for the Content Bottom Second region.
 * - page.featured_top: Items for the Featured Top region.
 * - page.featured: Items for the Featured region.
 * - page.featured_bottom: Items for the Featured Bottom region.
 * - page.breadcrumb: Items for the Breadcrumb region.
 * - page.highlighted: Items for the Highlighted region.
 * - page.highlighted_bottom_first: Items for the Highlighted Bottom First region.
 * - page.highlighted_bottom_second: Items for the Highlighted Bottom Second region.
 * - page.footer_top_first: Items for the Footer Top First region.
 * - page.footer_top_second: Items for the Footer Top Second region.
 * - page.footer_first: Items for the Footer First region.
 * - page.footer_second: Items for the Footer Second region.
 * - page.footer_third: Items for the Footer Third region.
 * - page.footer_fourth: Items for the Footer Fourth region.
 * - page.sub_footer_first: Items for the Subfooter First region.
 * - page.footer: Items for the Subfooter Second region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<div id="page-container" class="page-container">
  <div id="header_top_container" class="header-top-container">
    <div id="header-top" class="clearfix header-top">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="header-top-area clearfix">
              {{ page.header_top }}
              <div class="social-left pull-left">
                <ul class="social-links-icon">
                <li><a href="{{ face_book }}"class="btn-social fa-icon"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="{{ twitter }}" class="btn-social tw-icon"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="{{ linkedin }}" class="btn-social lnk-icon"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="{{ instagram }}"class="btn-social ins-icon"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
              </div>
              <div class="usr-log-info pull-right">
              {% if logged_in %}
               <span class="user-account">My Account</span>
                <ul class="menu">
                  <li class="menu-item"><a href="/user" data-drupal-link-system-path="user"><i class="fa fa-user" aria-hidden="true"></i> My account</a></li>
                  <li class="menu-item"><a href="/user/logout" data-drupal-link-system-path="user/logout"><i class="fa fa-power-off" aria-hidden="true"></i> Log out</a></li>    </ul>
                {% else %}
                <ul class="menu">
                  <li class="menu-item">
                    <a href="/user/login" data-drupal-link-system-path="user/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Log in</a>
                  </li>
                </ul>
              {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if page.header_first or page.header or page.search_area or page.navigation %}
    <div id="header-container" class="header-container clearfix">
      {% if page.header_first or page.header or page.search_area or page.navigation %}
        <header id="header" role="banner" class="clearfix header">
          <div class="container">
            <div id="container-wrap" class="container-wrap">
            <div class="mob-icon"><i class="fa fa-bars" aria-hidden="true"></i></div>
              <div class="header-left">
                {% if page.header_first %}
                  <div class="header-logo">
                      {{ page.header_first }}
                  </div>
                {% endif %}
              </div>
              <div class="header-right">
                {% if page.header %}
                  <div class="header-second">
                      {{ page.header }}
                  </div>
                {% endif %}
                {% if page.search_area or page.navigation %}
                  {% if page.navigation %}
                      <div id="main-navigation" class="clearfix main-navigation">
                        <nav role="navigation">
                          {{ page.navigation }}
                        </nav>
                      </div>
                    {% endif %}
                    {% if page.search_area %}
                    <div id="search-area" class="clearfix search-area">
                      <div class="search-icon"><i class="fa fa-search" aria-hidden="true"></i></div>
                      {{ page.search_area }}
                    </div>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
        </header>
      {% endif %}
    </div>
  {% endif %}

  {% if is_front %}
  <div id="banner" class="clearfix banner">
    <div class="container">
      <div id="banner-inside" class="clearfix banner-inside">
          {{ page.banner }}
        <div class="views-row">
          <div class="banner-image">
            <img class="top-article-image" src="{{home_banner}}" />
          </div>
          <div class="banner-desc">
            <div class="banner-text"><h1>{{banner_description}}</h1></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div id="page" class="clearfix page">
    {% if page.breadcrumb %}
      <div class="breadcrumb-wrap">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              {{ page.breadcrumb }}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    
    {% if page.system_messages %}
      <div class="system-messages">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              {{ page.system_messages }}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
      
    {% if is_front %}
      {% if page.content_top %}
        <div id="content-top-first" class="clearfix content-top-first">
          <div class="container-layout-1">
            <div id="content-top-first-inside" class="clearfix content-top-first-inside">
              {{ page.content_top_first }}
            </div>
          </div>
        </div>
      {% endif %}
    {% endif %}

    {% if is_front %}
      {% if page.content_top %}
        <div id="content-top" class="clearfix content-top">
          <div class="container-layout-1">
            <div id="content-top-inside" class="clearfix content-top-inside">
              {{ page.content_top }}
            </div>
          </div>
        </div>
      {% endif %}
    {% endif %}

    {% if page.highlighted %}
      <div id="highlighted" class="clearfix highlighted">
        <div class="container">
          <div id="highlighted-inside" class="clearfix highlighted-inside">
            <div class="row">
              <div class="col-md-12">
                <div class="highlighted-area">
                  {{ page.highlighted }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    <div id="main-content" class="clearfix main-content">
      <div class="container">
        <div class="row">
          <section class="{{ main_grid_class }}">
            <div id="main" class="clearfix main main-area">
              {% if page.content %}
                {{ page.content }}
              {% endif %}
            </div>
          </section>
          {% if page.sidebar_first %}
            <aside class="{{ sidebar_first_grid_class }}">
              <section id="sidebar-first" class="sidebar sidebar-first clearfix">
                {{ page.sidebar_first }}
              </section>
            </aside>
          {% endif %}
          {% if page.sidebar_second %}
            <aside class="{{ sidebar_second_grid_class }}">
              <section id="sidebar-second" class="sidebar sidebar-second clearfix">
                {{ page.sidebar_second }}
              </section>
            </aside>
          {% endif %}
        </div>
      </div>
    </div>

    {% if page.featured_top %}
      <div id="featured-top" class="clearfix featured-top">
        <div class="container">
          <div id="featured-top-inside" class="clearfix featured-top-inside">
            <div class="row">
              <div class="col-md-12">
                <div class="featured-top-area">
                  {{ page.featured_top }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    {% if page.featured %}
      <div id="featured" class="clearfix featured">
        <div class="container">
          <div id="featured-inside" class="clearfix featured-inside">
                  {{ page.featured }}
          </div>
        </div>
      </div>
    {% endif %}

    {% if page.featured_bottom %}
      <div id="featured-bottom" class="clearfix featured-bottom">
        <div class="container">
          <div id="featured-bottom-inside" class="clearfix featured-bottom-inside">
            <div class="row">
              <div class="col-md-12">
                <div class="featured-bottom-area">
                  {{ page.featured_bottom }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

  </div>
  {% if page.footer_first %}
    <footer id="footer" class="clearfix footer">
      <div class="container">
        <div class="row">
          {% if page.footer_first %}
            <div class="col-md-12">
              <div class="footer-area">
                {{ page.footer_first }}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </footer>
  {% endif %}

  {% if footer_image or footer_copyright %}
    <div id="footer_bottom" class="clearfix footer-bottom">
      <div class="container">
        <div class="row">
          {% if footer_image %}
            <div class="{{ footer_bottom_first_grid_class }}">
              <div class="footer-bottom-area first">
                {{ page.footer_bottom_first }}
                <div class="logo"> <img class="footer-image" src="{{footer_image}}" /> </div>
              </div>
            </div>
          {% endif %}
          {% if footer_copyright %}
            <div class="{{ footer_bottom_second_grid_class }}">
              <div class="footer-bottom-area second">
                {{ page.footer }}
              {{ footer_copyright }}
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
</div>
