.main-content {
  max-width: 1360px;
  margin: 20px auto;
  min-height: 550px;
}

.banner {
  background-position: center center;
  background-size: cover;
  height: 80vh;
  position: relative;
  img {
    display: none;
  }
  .views-row {
    .banner-desc{
      position: absolute;
      bottom: 20px;
      width: 100%;
      text-align: center;
      left: 0;
    }
    h1 {
      color:$black_color;
      font-size: 3.8em;
      position: relative;
      z-index: 9;
      line-height: normal;
      font-weight: 700;
      background: $sec_bg;
      @include box-shadow (10px 0 0 $sec_bg, -10px 0 0 $sec_bg);
      display: inline;
    }
  }
  &:after {
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background: rgba(0,0,0,0.5);
    z-index: 8;
  }
  .banner-text {
    max-width: 740px;
    margin: 0 auto;
    text-align: center;
  }
}

@media only screen and (max-width: 1023px) {
  .banner {
    margin-top: 105px;
    height: 50vh;
  }
}